* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0px auto;
  font-family: 'Poppins', sans-serif;
  color: white;
}

body {
  background-color: #111111;
}

.center a{
  display: inline-block;
  margin: 10px 20px;
  padding: 10px 20px;
  text-decoration: none;
}

.center a:hover {
    transform: scale(1.2);
    transition: transform 0.4s ease-out;
    color: #999999;
}


.container {
  max-width: 1400px;
  margin-top: 80px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
}

.menu a {
  color: #ffffff;
  padding: 20px 20px;
  margin: 0px 20px;
  text-decoration: none;
  font-size: 1.1rem;
}

a:hover {
  color: #999999;
  transition: 0.3s;
}

.row {
  display: flex;
  flex-wrap: wrap;

  width: auto;
  height: auto;
}

.column-left {
  flex: 1;
  padding: 0 20px;
}

.column-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500;
}

.profile {
  max-width: 100%;
  height: 100%;
}


.about {
  height: 100vh;
  margin: 100px;
}

h1 {
  font-size: 3.5rem;
  font-weight: 800;
}

h2 {
  font-size: 1.8rem;
  padding-top: 80px;
  padding-bottom: 40px;
  font-weight: 400;
}

.column-left p {
  padding-top: 30px;
  font-size: 1.2rem;
  font-weight: 200;
}

.social-about {
  margin-top: 85px;
}

#first-link {
  padding-left: 0px;
}
.social-about a {
  text-align: center;
  padding: 40px
}


.social-about a:hover {
  transform: scale(1.2);
  transition: transform 0.4s ease-out;
  color: #999999;
}

.portifolio h1 {
  margin: 80px 0px;
  text-align: center;
}


span:hover {
  color: red;
  transition: 0.3s;
}

.grid-item img {
  width: 400px;
  height: 450px;
  border-radius: px;
}

.description-services{
  margin-bottom: 60px;
}




/** SERVICOS **/

.servicos-oferecidos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.service {
  margin: 10px;
  border-radius: 15px;
  padding: 20px;
  background-color: #ffffff;
}

.service > h3 {
  color: red;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 10px;
}


.caracteristicas {
  height: 150px;
  margin-bottom: 10px;
}

.beneficios {
  height: 150px;
  margin-bottom: 10px;
}


.service > p { 
  max-width: 50ch;
}

.resumo {
  height: 130px;
  margin-bottom: 10px;
}

.img > img {
  max-width:  400px;
  max-height: 200px;
  margin-bottom: 10px;
  }

.img {
    margin: auto;
    display: flex;
  }

  .service > p {
    color: #555555;
  }

  .beneficios > p {
    color: #555555;
  }

 li {
  color: #555555;
    margin-left: 20px;
  }

  h4 {
    color: #111111;
  }